body{
    background-color: #eee;
    display: flex;
}
body section {
   flex-grow: 1;
   background-color: white;
   margin: 5px;
   margin-top: 0px;
   border: solid 1px #ccc;
}
body section:first-child{
    margin-left: 0px;
}
#orders{
    margin-right: 0px;
}
ul{
    list-style-type: none;
}
#submit{
    background-color: #2a91bd;
    color: white;
    padding: 10px 15px;
    border: solid 0px;
    border-radius: 20px;
    margin: 15px;
    margin-left: 38px;
}
#submit:disabled{
    background-color: #ccc;
}
#submit:hover{
    cursor: pointer;
}
#meals-list li{
    cursor: pointer;
}
.selected{
    background-color: #ddd;
}